@charset "utf-8";
body {
	text-align: center;
	background-color: #eee;
	font: bold 36px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #0000CC;
}
#testbox {
	background-color: #FFFFFF;
	color: #006600;
	display: block;
	width: 450px;
	margin: 50px auto;
	padding: 15px;
	border: 4px solid #990000;
	border-radius: 50%;
	
	/*-webkit-box-shadow: rgb(0,51,153) 5px 5px;*/

	box-shadow: rgb(0,51,153) -15px -15px;
	box-shadow: rgb(0,51,153) 5px 5px 10px 10px;
	box-shadow: #FF3 0px 0px 10px 5px;
	box-shadow: #999 -3px -3px 10px 0px inset;
	box-shadow: rgb(0,51,153) 10px 10px 20px;

}
#testbox #titletext {
	font: bold 36px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #0000CC;
	/*box-shadow: rgb(0,51,153) 5px 5px 10px 10px;*/
	/*text-shadow: #999 3px 3px 5px;*/

}

#InnerShadow {
	background-color: #FFFFFF;
	color: #006600;
	display: block;
	width: 150px;
	height: 150px;
	margin: 50px auto 0;
	padding: 15px;
	font: bold 22px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	
	color: #333;
	box-shadow: inset 0 0 20px #000000;
}

#OneSidedShadow {
	background-color: #FFFFFF;
	color: #006600;
	display: block;
	width: 150px;
	height: 150px;
	margin: 50px auto 0;
	padding: 15px;
	font: bold 22px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	
	border: 1px solid #333;
	box-shadow: 0 12px 6px -6px black; 
}
	
