@charset "utf-8";

/* ------ Pared Down Reset Code ----- */

html, body, ul, ol, li, form, fieldset, legend {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}
fieldset, img {
	border: 0;
}
legend {
	color: #000;
}
input, textarea, select, button {
	font-size: 100%;
	line-height: 1.2;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
button {
	width: auto;
	overflow: visible;
}
li {
	list-style: none;
}
abbr, acronym {
	border-bottom: .1em dotted;
	cursor: help;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
pre, code {
	font-family: "Courier New", monospace, serif;
	font-size: 100%;
	line-height: 1.2;
}

/*---Reset code for tables ---*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}
td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* --- Elements ----------- */

body {
	color: #222;
	background: #FDEABB;
	font: 100% Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
h1 {
	color: #8B6124;
	font-size: 2em;
	margin: 1em;
}
#container {
	margin: 1em auto;
	padding: 20px;
	width: 90%;
}

table {
	border: 1px solid #703202;
	background-color: #FEF1D2;
	padding: 6px;
}
table caption {
	color: #8B6124;
	font-size: 1.8em;
	font-weight: normal;
	text-transform: uppercase;
}

table thead th {
	padding: 10px;
	background-color: #8B6124;
	color: #FDDF94;
	border: 1px solid #8B6124;
	font-size: 1.2em;
	font-weight: normal;
	text-transform: uppercase;
}
table thead td {
	padding: 6px;
	text-align: center;
	font-size: .85em;
	border: 1px solid #8B6124;
	color: #8B6124
}
table tbody td {
	padding: 6px;
	border-top: 1px solid #8B6124;
	border-bottom: 1px solid #8B6124;
}
table tbody tr.alt {
	background-color:  #FDDF94;
}
table tfoot td {
	padding: 10px;
	text-align: center;
	border: 1px solid #8B6124;
	color: #8B6124;
	font-size: .85em;
}

